<style>
  table td th{
    border: 3px solid black;
  }

  table{
    border-collapse: collapse;
    width: 90%;
  }

  th{
    height: 100px;
  }
</style>


<h2>Get All Customer</h2>

<table>
  <tr>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let cust of listOfCustomer">
    <td>{{cust.customerId}}</td>
    <td>{{cust.customerName}}</td>
    <td>{{cust.customerSex}}</td>
    <td>{{cust.customerAdd1}} {{cust.customerAdd2}}</td>
  </tr>
  
</table>