<style>
  table td{
    float: none;
    border: 2px solid greenyellow;
    text-align: center;
  }

  table{
    border-collapse: collapse;
    width: 100%;
  }

  h2{
    text-align: center;
    color: orangered;
  }

</style>


<h2><u>Get All Customers : GET API</u></h2>
<table>
  <tr>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>

  <tr *ngFor="let cust of listOfCustomer">
    <td>{{cust.customerId}}</td>
    <td>{{cust.customerName}}</td>
    <td>{{cust.customerSex}}</td>
    <td>{{cust.customerAdd1}} {{cust.customerAdd2}}</td>
  </tr>
</table>

<br>

<h2><u>Get Customer Details : GET API with PARAMETER</u></h2>
<table>
  <tr>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>

  <tr *ngFor="let custD of customerDetails">
    <td>{{custD.customerId}}</td>
    <td>{{custD.customerName}}</td>
    <td>{{custD.customerSex}}</td>
    <td>{{custD.customerAdd1}} {{custD.customerAdd2}}</td>
  </tr>
</table>

<br>

<h2><u>Get Customer Details : POST API</u></h2>
<table>
  <tr>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>

  <tr *ngFor="let custD of customerDetails">
    <td>{{custD.customerId}}</td>
    <td>{{custD.customerName}}</td>
    <td>{{custD.customerSex}}</td>
    <td>{{custD.customerAdd1}} {{custD.customerAdd2}}</td>
  </tr>
</table>